* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  width: 10vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}
.bg {
  background: url("https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(30px);
}
.loading-text {
    position: relative;
    left: 50%;
    right: 50%;
  font-size: 50px;
  color: #fff;
}
